.navbar{
    background-color: #674598;
}
.offcanvas-header{
    background-color: #674598;
}
.offcanvas-body{
    background-color: #f0f0f0;
}
.h2{
    text-align: center;
    font-family: cursive;
}

.tako{
    text-shadow: 1px 3px black;
}
.bingo{
    text-shadow: 1px 3px #674598;
}

#body{
    background-color: #f0f0f0;
    z-index: -1;
}
.title{
    text-align: center;
    animation: flash 1s linear infinite;
}
.number {
    height:400px;
    font-size: 200px;
    margin:0 auto;
    border-radius: 30px;
    padding-top: 30px;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    z-index: 1;
    background-color: #fff;
    
}
.number span{
    color: #6600FF;
}
.header{
    background-color: #6600FF;
    color: aliceblue;
}

.history{

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    list-style: none;
    width: 75%;
    padding: 0;
    background-color: #fff;
    border-radius: 10px;
}

 .history li{
    background-color: #674598;
    font-size: 50px;
    color: #fff;
    border-radius: 10px;
    height: 100px;
    margin: 4px ;
    width:100px;
    text-align: center;
    padding-top: 10px;
    
 }

 .btn-outline-info{
    color: purple;
 }
@keyframes flash {
	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
}