.modal__bg {
    position: fixed;
    z-index: 10009;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0; /* 初期状態で非表示 */
    visibility: hidden; /* 初期状態で非表示 */
    transition: opacity .6s ease, visibility .6s ease;
  }
  
  .modal__bg.is-active {
    opacity: 1; /* 非表示を解除 */
    visibility: visible; /* 非表示を解除 */
  }
  
  .modal__inner {
    position: fixed;
    z-index: 10010;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 10px;
    opacity: 0; /* 初期状態で非表示 */
    visibility: hidden; /* 初期状態で非表示 */
    transition: opacity .6s ease, visibility .6s ease;
  }
  
  .modal__inner.is-active {
    opacity: 1; /* 非表示を解除 */
    visibility: visible; /* 非表示を解除 */
  }
  
  .modal-card {
    width: 290px;
    min-height: 290px;
    background: #fff;
    filter: drop-shadow(0 0 10px rgba(0 ,0, 0, 0.4));
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: absolute;
    z-index: 1;
    transform: translate3d(0, 48px, 0);
    opacity: 0; /* 初期状態で非表示 */
    visibility: hidden; /* 初期状態で非表示 */
    transition: opacity .6s ease, visibility .6s ease, transform .3s ease-in-out;
  }
  
  .modal-card.is-active {
    position: relative;
    z-index: 2;
    opacity: 1; /* 非表示を解除 */
    visibility: visible; /* 非表示を解除 */
    transform: translate3d(0, 0, 0);
  }
  
  .modal-card__heading {
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
    font-weight: bold;
    color: #444;
  }
  
  .modal-card__text {
    margin: 0;
    font-size: 16px;
    line-height: 1.6;
    color: #444;
  }
  
  .modal-card__close {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 16px;
    right: 13px;
  }
  
  .modal-card__close::before,
  .modal-card__close::after {
    content: "";
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 3px;
    background: #000;
    cursor: pointer;
  }
  
  .modal-card__close::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .modal-card__close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }