.title{
    text-align: center;
    animation: flash 1s linear infinite;
}
.number {
    height:500px;
    font-size: 250px;
}
.number span{
    color: #6600FF;
}
.header{
    background-color: #6600FF;
    color: aliceblue;
}
#history span{
    font-size: large;
    color: #6600FF;
    border: solid;
    padding: 10px;
    margin-top: 10px;
}
@keyframes flash {
	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
}